<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hymmnos Picture Generator</title>
    <style>
        @font-face {font-family: hymmnos; src:url('/static/hymmnos.ttf')}
    </style>
</head>
<body>
<h1>Hymmnos Picture Generator</h1>
<h1 style="font-family: hymmnos">Was Yea ra Pomb Hymmnos Leaff.</h1>
<form method="get" action="pic.png">
    <input type="text" name="text">
    <input type="submit" value="Submit">
</form>
<pre style="font-family: hymmnos">
Wee yea ra ene foul enrer.
Wee yea ra ene hymme syec mea.
Was yea ra hymme mea ks maya gyen yeal innna ar hopb syec mea ya. ya!
</pre>
</body>
</html>
