<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hymmnos Picture Generator</title>
    <style>
        @font-face {font-family: hymmnos; src:url('/static/hymmnos.ttf')}
    </style>
</head>
<body>
<h1>Hymmnos Picture Generator</h1>
<h1 style="font-family: hymmnos">Was Yea ra Pomb Hymmnos Leaff.</h1>
<form method="get" action="pic.png">
    <table>
        <tr> <td align="right">TEXT</td> <td><input type="text" name="text" value="Hymmnos"></td> </tr>
        <tr> <td align="right">SIZE</td> <td><input type="text" name="size" value="36"></td> </tr>
        <tr> <td align="right">FG Color</td> <td><input type="text" name="fg" value="000000"></td> </tr>
        <tr> <td align="right">BG Color</td> <td><input type="text" name="bg" value="FFFFFF"></td> </tr>
        <tr> <td colspan="2" align="center"><input type="submit" value="Get Your Picutre"></td></tr>
    </table>
</form>
<p>缺省为</p>
<pre style="font-family: hymmnos">
Wee yea ra ene foul enrer.
Wee yea ra ene hymme syec mea.
Was yea ra hymme mea ks maya gyen yeal
innna ar hopb syec mea ya. ya!
</pre>
</body>
</html>
